<form  (ngSubmit)="myForm.valid && onSubmit()" [formGroup]="signInForm" #myForm="ngForm">
    <div>
        Form submitted ? {{myForm.submitted}}
        Form valid ? {{signInForm.valid}}
        Form invalid ? {{signInForm.valid}}
    </div> 
    
    <fieldset>
      <label for="firstname">Prénom</label>
      <input id="firstname" name="firstname" type="text" formControlName="firstname" required minlength="3" maxlength="15"/>
    </fieldset>
  
    <!-- Message d'erreurs de firstname -->
    <div *ngIf="signInForm.controls.firstname.errors">
      <span *ngIf="signInForm.controls.firstname.errors['required']">Le prénom est requis</span>
      <span *ngIf="signInForm.controls.firstname.errors['minlength']">La longueur minimale doit être supérieure à 3</span>
      <span *ngIf="signInForm.controls.firstname.errors['maxlength']">La longueur maximale doit être inférieure à 15</span>
    </div>
  
    <fieldset>
        <label for="lastname">Nom</label>
        <input id="lastname" name="lastname" type="text" formControlName="lastname" required minlength="3" maxlength="15"/>
      </fieldset>
    
      <!-- Message d'erreurs de lastname -->
      <div *ngIf="signInForm.controls.lastname.errors">
        <span *ngIf="signInForm.controls.lastname.errors['required']">Le nom est requis</span>
        <span *ngIf="signInForm.controls.lastname.errors['minlength']">La longueur minimale doit être supérieure à 3</span>
        <span *ngIf="signInForm.controls.lastname.errors['maxlength']">La longueur maximale doit être inférieure à 15</span>
      </div>

      <fieldset>
        <label for="mail">Email</label>
        <input id="mail" name="mail" type="email" formControlName="email" required email>
      </fieldset>
    
      <!-- Message d'erreurs de email -->
      <div *ngIf="signInForm.controls.email.errors">
        <span *ngIf="signInForm.controls.email.errors['required']">Le champ email est requis</span>
        <span *ngIf="signInForm.controls.email.errors['email']">L'adresse email doit être valide</span>
      </div>

      <fieldset>
        <label for="password">Mot de Passe</label>
        <input id="password" name="password" type="password" formControlName="password" required />
      </fieldset>
    
      <!-- Message d'erreurs de password -->
      <div *ngIf="signInForm.controls.password.errors">
        <span *ngIf="signInForm.controls.password.errors['required']">Le mot de passe est requis</span>
      </div>
  
      <div>
        <button type="reset">Restaurer</button>
        <button type="submit">Sauvegarder</button>
      </div>
  </form>