<ul>
    <li>
      <a [routerLink]="['/signup']">SIGNUP</a>
    </li>
    <li>
      <a [routerLink]="['/signup-reactive']">SIGNUP (reactive)</a>
    </li>
    <li>
      <a [routerLink]="['/user']">USER</a>
    </li>
    <li>
      <a [routerLink]="['/developer']">DEVELOPERS</a>
    </li>
    <li>
      <a [routerLink]="['/onomatopia']">ONOMATOPÉES</a>
    </li>
    <li>
      <a [routerLink]="['/films']">FILMS</a>
    </li>
    <li>
      <a [routerLink]="['/search-movie']">RECHERCHER UN FILM</a>
    </li>
    
  </ul>
  
  <router-outlet></router-outlet>
