<button (click)="setShowMovies(showMovies)"> {{showMovies ? "Cacher les films" : "Voir les films"}}</button>
<button (click)="exportToExcel()" > Exporter sous Excel</button>
<div *appShowMovie="showMovies">
    <ul *ngFor="let f of films">
        <li appHighlight>
            <img src={{f.imageUrl}} alt={{f.title}} />
            <p>{{f.title}}</p>
        </li>
    </ul>
</div>
<table id="movie_table">
    <tr>
        <th>Title</th>
        <th>Image URL</th>
    </tr>
    <tr *ngFor="let f of films">
        <td>{{f.title}}</td>
        <td>{{f.imageUrl}}</td>
    </tr>
</table>
