<div>
    <h2>Création de compte</h2>
    <form (ngSubmit)="onSubmit()" [formGroup]="userForm">
        <!-- Username -->
        <fieldset>
            <label for="username">Pseudonyme</label>
            <input id="username" name="username" type="text" formControlName="username" />
        </fieldset>

        <!-- Credentials -->
        <form [formGroup]="credentials">
            <p>Authentification</p>

            <!-- Mail -->
            <fieldset>
                <label for="mail">Email</label>
                <input id="mail" name="mail" type="text" formControlName="mail" />
            </fieldset>

            <!-- Password -->
            <fieldset>
                <label for="password">Mot de passe</label>
                <input id="password" name="password" type="text" formControlName="password" />
            </fieldset>

        </form>
        
        <!-- Adress -->
        <form [formGroup]="adress">
            <p>Adresse</p>

            <!-- Street -->
            <fieldset>
                <label for="street">Rue ou avenue</label>
                <input id="street" name="street" type="text" formControlName="street" />
            </fieldset>

            <!-- Postcode -->
            <fieldset>
                <label for="postcode">Code postal</label>
                <input id="postcode" name="postcode" type="number" formControlName="postcode" />
            </fieldset>

            <!-- city -->
            <fieldset>
                <label for="city">Ville</label>
                <input id="city" name="city" type="text" formControlName="city" />
            </fieldset>

        </form>

        <div>
            <button type="reset">Recommencer</button>
            <button type="submit">Sauvegarder</button>
        </div>

    </form>

    <div *ngIf="newUser">
        <p> <span>Nouvel Utilisateur</span> </p><br />
        <p> <span>Pseudonyme: </span>{{newUser.username}}</p>
        <p> <span>Mail: </span>{{newUser.credentials.mail}}</p>
        <p> <span>Mot de passe: </span>{{newUser.credentials.password}}</p>
        <p>(juste pour la quête dans la vrai vie on n'affiche pas cette donnée)</p>
        <p>Adresse</p>
        <p> <span>Rue / Avenue/ Boulevard: </span>{{newUser.adress.street}}</p>
        <p> <span>Code Postal: </span>{{newUser.adress.postcode}}</p>
        <p> <span>Ville: </span>{{newUser.adress.city}}</p>        
    </div>
</div>
